@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


*{background-color: black;
color: aliceblue;}
h1{
   text-align: center;
    font-family: 'Creepster', cursive;
   font-size: 60px;
    color: red;
}
h2{
    text-align: center;
}
#vid_container{
    width: 100%;
    display: flex;
    justify-content: center;

}
p{padding: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
}
h5 {text-align: end;
padding-right: 70px
;}